<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.stormkid.kui">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".sample.toolbar.ToolBarActivity">

        </activity>
        <activity android:name=".sample.button.ButtonActitivy">

        </activity>
        <activity android:name=".sample.alert.AlertActivity">
        </activity>
        <activity android:name=".sample.input.InputActivity">
        </activity>
        <activity android:name=".sample.badge.BadgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>


</manifest>